* {
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

body {
  background-color: #000;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  top: 0;
  position: sticky;
  background-color: #000;

  padding-top: 10px;

  /* border: 1px solid green; */
}

.container {
  display: flex;
}

.logo-and-bars,
.search,
.other-links {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: #ffffff;
  margin-inline: 10px ;
}

.home-div,
.histories-videos,
.subscription,
.more-from-youtube {
  border-bottom: 1px solid #303030;
}
.logo-and-bars > img {
  margin-left: 20px;
  height: 25px;
}
.search-div {
  /* border: 1px solid greenyellow; */
  background: #303030;
  color: #828282;
  display: flex;
  align-items: center;
  text-align: center;
}

.search-div > input {
  border: none;
  background: #121212;
  width: 25vw;
  outline: none;
  height: 40px;
  padding: 0px 5px;
}

#searchVideo{
  color: rgb(153, 153, 153);
}

.search-div > i {
  border: none;
  width: 25px;
  height: 30px;
  margin: 2px 5px;
  padding-top: 5px;
  font-size: 14px;
  cursor: pointer;
   /* border: 1px solid blue; */
}

::placeholder {
  font-size: 14px;
  color: rgb(153, 153, 153);
}

.search-voice {
  width: 30px;
  height: 30px;
  background-color: #000;
  padding: 3px;
  cursor: pointer;
  border-radius: 25px;
}

.search-voice > span {
  font-size: 16px;
  margin-top: 2px;
}

.other-links {
  gap: 20px;
}

.other-links > img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

/* SIDE BAR DESIGN */
.sidebar {
  width: 240px;
  background-color: #000;

  color: #fff;
  padding: 10px;
  overflow-y: scroll;
  /* border: 1px solid wheat; */
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.sidebar-items{
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 14px;
  margin: 5px 0px;
  cursor: pointer;
  padding: 5px 0px;
}


.suscribed-channel {
  display: flex;
  align-items: center;
  text-align: start;
  font-size: 14px;
  margin: 5px 0px;
  cursor: pointer;
  padding: 3px 0px;
}
.sidebar-items span,
.suscribed-channel > img,
.suscribed-channel > span {
  font-size: 24px;
  margin-inline: 5px;
}

.sidebar-items a,
.suscribed-channel > p {
  font-size: 14px;
  margin-left: 5px;
}

.sidebar-items:hover,
.suscribed-channel:hover {
  background-color: #303030;
}
.suscribed-channel > img {
  width: 20px;
  height: 20px;
  border-radius: 25px;
}

h5 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-left: 10px;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.categories {
  margin: 10px 0px;
  padding: 0px 10px;

}

.categories a {
  color: #fff;
  text-decoration: none;
  border: 0.3px solid #aaaaaa;
  padding: 5px 8px;
  border-radius: 32px;
  margin: 2px;
  font-size: 16px;
}

.categories a:active,
.active {
  background-color: #fff;
  color: #212121;
}
#contents {
  display: flex;
  flex-wrap: wrap;
  background-color: #000;
  color: #ffffff;
  width: 100%;
}

#content {
  width: 276px;
  height: 247px;
  padding: 0px, 0px, 18px, 0px;
/* border:1px solid wheat; */
  margin: 10px;
  border-radius: 5px;

}

#thumbnail {
  width: 276px;
  height: 155px;
  background-color: gray;
  border-radius: 5px 5px 5px 5px;
  /* border:1px solid rgb(9, 219, 13); */


}

#thumbnailImage{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.details {
  display: flex;
}

.channel-logo>img {
  width: 30px;
  height: 30px;
  border-radius: 25px;
}

.video-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 100px;

}

#video-title{
  overflow: hidden;
}
